/* Enter your custom styles here */
div[aria-level='2'] {
    pointer-events: none !important;
}

div[aria-level='2'].sapUiTableRowHdr::before {
    border: none !important;
}

tr[aria-level="1"] {
    background-color: lightgray;
}

.myclass {
    width: 100%;
}

.sapMLnkEmphasized {
    font-size: larger !important;
}

.sapMListTblHeaderCell {
    background-color: lightgray;
    font-weight: lighter;
    font-size: larger;

 }
 .sapUiTableHeaderDataCell {
    
    background-color: rgb(178, 213, 245); 
 }



